index: 'metric:meshblu-core-dispatcher:sampled-2*'
body:
  size: 0
  from: 0
  aggs:
    recent:
      filter: bool:
        must: [ {
          range: date:
            gte: 'now-2m'
            lte: 'now-1m'
            format: 'epoch_millis'
        }
        {
          term: "type.raw": 'meshblu-core-dispatcher:job'
        } ]
        must_not: []
      aggs: avg:
        avg:
          field: 'elapsedTime'
