index: 'metric:meshblu-core-dispatcher:sampled-2*'
body:
  query:
    bool:
      must: [ {
        range: date:
          gte: 'now-2m'
          lte: 'now-1m'
          format: 'epoch_millis'
      } ]
      filter:
        term: 'type.raw': 'meshblu-core-dispatcher:job'
